/* You can add global styles to this file, and also import other style files */
@import "color";

$button-bg: $green;
$color: $white;

//去除默认样式
*, :before, :after{
  box-sizing: inherit;
}
body {
  margin: 0;
  font-size: 14px;
}
ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}
// 去除搜索框右侧的x
input[type=search]::-webkit-search-cancel-button{
  -webkit-appearance: none;
}

.button {
  background-color: $button-bg;
  color: $color;
  border-radius: 4px;
  user-select: none;
  cursor: pointer;
}