
$addSize: 30px;
$listSize: 20px;
$listHeight: 32px;

%marginLeft {
  margin-left: 24px;
}
%active {
  background-color: #404040;
}
%hover {
  background-color: #333;
}

#nav {
  width: 241px;
  height: 100vh;
  padding-top: 30px;
  background: #1a1a1a;
  color: #fff;
}
.search {
  @extend %marginLeft;
}
.add {
  @extend %marginLeft;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 18px;
  margin: 21px 0;
  cursor:pointer;
}
.add-icon {
  border-radius: 50%;
  margin-right: 8px;
  transition: transform .2s ease-in-out;
}
.add-icon:hover {
  transform: scale(1.15);
  -webkit-transform: scale(1.15);
}
.list {
  @extend %marginLeft;
}
.list li {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: $listHeight;
  line-height: $listHeight;
  font-size: 14px;
  color: #e6e6e6;
  cursor: pointer;
}
.list li img {
  margin-right: 10px;
}
.list li:hover {
  @extend %hover;
}
.list .active {
  @extend %active;
}
.list-icon {
  height: $listSize;
  width: $listSize;
}