<nav id="nav">
  <app-search></app-search>
  <div class="add">
    <!-- <img class="add-icon" src="/assets/img/add.png" alt="add"> -->
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" 
    viewBox="0 0 30 30"
    class="add-icon">
      <g>
        <path d="M 0,0 h 30 v 30 H0 Z"></path>
        <circle cx="15" cy="15" r="14" fill="#00A82D"></circle>
        <rect x="8" y="14" width="14" height="2" fill="#fff" rx="1"></rect>
        <rect x="14" y="8" width="2" height="14" fill="#fff" rx="1"></rect>
      </g>
      
    </svg>
    New Note
  </div>
  <ul class="list">
    <li *ngFor="let item of items"
    [class.active]="item.text === activeItem">
      <span class="list-multi"
      (click)="onTriangleClick(item.text)">
        <svg *ngIf="isTriangleShow(item.text)" 
        xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewbox="0 0 8 8"
        [class.rotate]="item.active">
          <path d="M 2,0 l4,4 l-4,4 Z" fill-rule="evenodd" fill="#e6e6e6"></path>
        </svg>
      </span>
      <span class="list-item" (click)="onSelect(item)">
        <img class="list-icon" [src]="item.icon" alt="item.text">
        {{item.text }}
      </span>
    </li>
  </ul>
</nav>