
$addSize: 30px;
$listSize: 20px;
$listHeight: 32px;
$lightGrey: #e6e6e6;

%marginLeft {
  margin-left: 24px;
}
%active {
  background-color: #404040;
}
%hover {
  background-color: #333;
}

#nav {
  width: 241px;
  height: 100vh;
  padding-top: 30px;
  background: #1a1a1a;
  color: #fff;
}
.search {
  @extend %marginLeft;
}
.add {
  @extend %marginLeft;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 18px;
  margin: 21px 0;
  cursor:pointer;
}
.add-icon {
  border-radius: 50%;
  margin-right: 8px;
  transition: transform .2s ease-in-out;
}
.add-icon:hover {
  transform: scale(1.15);
  -webkit-transform: scale(1.15);
}
.list li {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.list li span{
  display: webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-direction: row;
  height: $listHeight;
  line-height: $listHeight;
  font-size: 14px;
  color: $lightGrey;
  padding: 0 8px 0 18px;
  cursor: pointer;
}
.list li .multi {
  position: absolute;
  top: 50%;
  margin-top: -4px;
  // width: 14px;
  // height: 32px;
  // display: inline-block;
  // vertical-align: middle;
  fill: $lightGrey;
  cursor: pointer;
  z-index: 99;
}
.list li .rotate {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.list li img {
  margin-right: 10px;
}
.list li:hover {
  @extend %hover;
}
.list .active {
  @extend %active;
}
.list-icon {
  height: $listSize;
  width: $listSize;
}